<div class="col-md-8 col-md-offset-2">
	<h1 class="text-center">DFS</h1>
	<pre><code>
		// aquela busca que retorna um ac

		#define NMAX 100100
		typedef vector<int> vi;

		vector<vi> graph;
		int vis[NMAX];

		void dfs(int u){
			vis[u] = 1;
			for (auto v: graph[u])
				if (!vis[v])
					dfs(v);
		}	
	</code></pre>
	<div class="col-md-10" style="padding-bottom: 30px;">
		<input type="email" class="form-control" placeholder="Digite seu email para receber o código." />
	</div>
		<button class="btn btn-primary" ng-click="homeCtrl.enviar()">Enviar</button>
		<button class="btn btn-secondary" ng-click="homeCtrl.voltar()">Voltar</button>
</div>
