<div class="col-md-8 col-md-offset-2">
	<h1 class="text-center">Template</h1>
	<pre><code>
		// aquele templatezin que tem vários full facilita a vida noix

		/*input

		*/

		#include <bits/stdc++.h>

		using namespace std;

		#define f first
		#define s second
		#define pb push_back
		#define INF 0x3f3f3f3f

		typedef pair<int, int> ii;
		typedef vector<int> vi;
		typedef vector<ii> vii;

		int main(){

			return 0;
		}	
	</code></pre>
	<div class="col-md-10" style="padding-bottom: 30px;">
		<input type="email" class="form-control" placeholder="Digite seu email para receber o código." />
	</div>
		<button class="btn btn-primary" ng-click="homeCtrl.enviar()">Enviar</button>
		<button class="btn btn-secondary" ng-click="homeCtrl.voltar()">Voltar</button>
</div>
